/* counters => عدادات */

#Table-Container {
 counter-reset: p ;
}

#Table-Container p::before {
 counter-increment: p ;
 content: counter(p);
 display: inline-block ;
 border: 1px solid gray ;
 padding: 2px ;
}


/* counters => عدادات */
/* table جدول */
#Table-Container .container {
  counter-reset: b ;
}

#Table-Container .container b::before  {
  counter-increment: b ;
  content: counter(b) ". ";
}

.Tables div {
  counter-reset: bb ;
}
.Tables div b::before {
  counter-increment: bb ;
  content: counter(bb);
  
}
