
.MobilityButtons {
  margin :10px 1px ;
}

.MobilityButtons a {
  display: inline-block ;
  border: 1px solid gray ;
  border-radius: 5px ;
  color: #000;
  padding: 2px ;
  background: #6495ED ;
  text-decoration: none ;
  text-align: center ;
  zoom: 90% ;
}

.Next {
  
  right: 0px ;
  float: right ;
}

.Previous {
  
}
/*
.Next::after {
  content: " \276F";
}

.Previous::before{
  content: "\276E" " ";
} */
